<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{gameTitle}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body class="bg-dark text-white">
    <header class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <img src="/images/headerLogo.PNG" alt="Hangman Logo" id="logo" class="img align-middle" />
                <h1>{{gameTitle}}</h1>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col-12 text-center">
            {{{body}}}
        </div>
    </div>
</body>