#logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}
:root {
    --primary-color: #62493c;
    --accent-color: #e66c2c;
    --background-color: #d3ad99;
    --text-color: #6692a9;
    --highlight-color: #aac2cf;
    --logo-color: #f0df75;
    --footer-color: #f9f3cd;
}

header {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: transparent; /* Changed from var(--primary-color) to transparent */
    color: var(--logo-color); /* Changed from #fff to var(--logo-color) */
}

body {
    background: url('/images/a.jpg') no-repeat center center fixed !important;
    background-size: cover;
    background-color: var(--background-color); /* Changed from #4c5b70 to var(--background-color) */
}